.Header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006400;
  box-sizing: border-box;
  z-index: 90;
}

.Header img {
  margin: auto;
  width: 50%;
  height: 50%;
}