.Footer {
  width: 100%;
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  background-color: #006400;
  color: white;
}

.Footer p {
  text-align: center;
  margin: auto;
}