.Table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

.Table a {
  color: #337ab7;
  text-decoration: none;
}

.Table a:focus,
.Table a:hover {
  color: #23527c;
  text-decoration: underline;
}

td,
th {
  border: 2px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f0f0f0;
  color: #333;
  border-bottom-width: 3px;
}

.Sortable {
  text-align: center;
  color: #336033;
  text-decoration: underline;
}

.CenterText {
  text-align: center;
}

.Userimg {
  width: 40px;
  border: 2px solid #006400;
  border-radius: 4px;
  max-height: 40px;
  margin-right: 4px;
  vertical-align: middle;
}
